@model ReeDirectory.Models.State

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/__Index.cshtml";
}

<h2>Index</h2>
@using (Html.BeginForm("Sort", "State"))
    {
@Html.DropDownListFor(x => x.FilterBy, Model.FilterColumns)
@Html.TextBoxFor(x => x.FilterByValue)
@Html.AntiForgeryToken()
<input type="submit" />
@Html.HiddenFor(x => x.SortByName)
@Html.HiddenFor(x => x.SortByOperation)
@Html.Partial("State/__Index", Model.Entities)
@Html.DropDownListFor(x => x.CurrentPage, Model.Pages, new { @onchange = "this.form.submit();" })
}

