@model ReeDirectory.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Sort", "User"))
{
    @Html.DropDownListFor(x => x.FilterBy, Model.FilterColumns)
    @Html.TextBoxFor(x => x.FilterByValue)
    @Html.AntiForgeryToken()
    <input type="submit" />
    @Html.HiddenFor(x => x.SortByName)
    @Html.HiddenFor(x => x.SortByOperation)
    @Html.Partial("User/__Index", Model.Entities)
    @Html.DropDownListFor(x => x.CurrentPage, Model.Pages, new { @onchange = "this.form.submit();" })
}