@{
    ViewBag.Title = "__Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string controllername = this.Context.Request.Path.Split(new char[] { '/' })[1];
}

@section scripts
{

@Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">

        $(function () {
            $('#ajaxshow').hide().ajaxStart(function () {
                $(this).show();
            }).ajaxStop(function () {
                $(this).fadeOut();
            });
        });

        $("#addDiv").click(function () {
            $("<div></div>").dialog({
                modal:true,
                open: function () {
                    $(this).load("@controllername" + "/Create");
                },
                buttons: {
                    Save: function () {
                        debugger
                        thisdiv = $(this);
                        var saveForm = $(this).find('form');
                        if (saveForm.length != 0)
                        {
                            $.ajax(
                                {
                                    method: 'POST',
                                    url: saveForm.attr('action'),
                                    data: saveForm.serialize(),
                                    success: function (result) {
                                        thisdiv.html(result);
                                    },
                                    error: function () {
                                        alert('dd');
                                    }
                                }
                                );
                        }
                        //$(this).find('form').submit();
                    }
                }
            });
            return false;

        });
        function SetSort(fld) {
            var fldName = document.getElementById("SortByName");
            var fldOper = document.getElementById("SortByOperation");
            var passingValue;
            if (fld.attributes["filterkey"] != null)
                var passingValue = fld.attributes["filterkey"].value;
            else
                passingValue=fld.innerText.trim()
            if (fldName.value.trim() == passingValue) {
                if (fldOper.value.trim() == "Asc")
                    fldOper.value = "Desc";
                else
                    fldOper.value = "Asc";
            }
            else {
                fldOper.value = "Asc";
            }
            fldName.value = passingValue;
            document.forms[0].submit();
            return false;
        }
    </script>
}



<p>
    @if (((ReeDirectory.EntityFM.ExternalEntity.ESecurity)ViewBag.Security).Add > 0)
    {
        @Html.ActionLink("Create New", "Create", "", new { @id="addDiv"})
    }
</p>

@using (Ajax.BeginForm("", controllername, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "updPanel" }))
{
    @Html.AntiForgeryToken()
 
    <div id="updPanel">              
       @RenderBody()
    </div>
    
}

@*@using (Html.BeginForm("", this.Context.Request.Path.Split(new char[] {'/'})[1]))
{
    @Html.AntiForgeryToken()    
    
}*@
