@model IEnumerable<ReeDirectory.EntityFM.Entities.ECountry>

<p>
@if (((ReeDirectory.EntityFM.ExternalEntity.ESecurity)ViewBag.Security).Add > 0) { 
    @Html.ActionLink("Create New", "Create")
}
</p>
<table class="table">
    <tr>
        <th>
            <a href="#" onclick="SetSort(this)">
                @Html.DisplayNameFor(model => model.Abbrivation)
            </a>
        </th>

        <th>
            <a href="#" onclick="SetSort(this)">
                @Html.DisplayNameFor(model => model.Name)
            </a>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Abbrivation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (((ReeDirectory.EntityFM.ExternalEntity.ESecurity) ViewBag.Security).Edit>0)
                { 
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
                }

                @if (((ReeDirectory.EntityFM.ExternalEntity.ESecurity)ViewBag.Security).Print > 0)
                { 
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) 
                }

                @if (((ReeDirectory.EntityFM.ExternalEntity.ESecurity)ViewBag.Security).Delete > 0)
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }
</table>
